<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bonfire4.nanganmall" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoShop"
            android:label="@string/title_activity_go_shop"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".map"
            android:label="현장보기"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Noti"
            android:label="@string/title_activity_noti" >
        </activity>
        <activity
            android:name=".Prog"
            android:label="@string/title_activity_prog" >
        </activity>
        <activity
            android:name=".splash"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".Picgo"
            android:label="@string/title_activity_picgo" >
        </activity>
        <activity
            android:name=".Viewpicfrommap"
            android:label="@string/title_activity_viewpicfrommap" >
        </activity>
        <activity
            android:name=".Ccatal"
            android:label="@string/title_activity_ccatal" >
        </activity>
        <activity
            android:name=".Localprog"
            android:label="@string/title_activity_localprog" >
        </activity>
    </application>

</manifest>
